@font-face {
  src: url(fonts/Mulish.ttf);
  font-family: mulish;
}

* {
  font-family: mulish, Arial, Helvetica, sans-serif;
  background: black;
}

h1 {
  max-width: 15in;
  color: #f6ff00;
  font-size: 450%;
}

p {
  max-width: 15in;
  color: #fff;
  font-size: 175%;
}

img {
  width: 300px;
  border-radius: 8px;
}

#gallery {
  height: 50px;
  width: 100px;
}

.link {
  color: #f6ff00;
  text-decoration: none;
}

.link:hover {
  color: #e94159;
  text-decoration: none;
}
