@font-face {
  src: url(fonts/Mulish.ttf);
  font-family: mulish;
}

body {
  background: #fff;
  font-family: Mulish, sans-serif;
  margin: auto;
}

p {
  line-height: 1.3em;
  margin: 12px 0;
  padding: 0px 10px 0px;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  padding: 0px 10px 0px;
  color: #7a918f;
}

a {
  color: #7a918f;
  text-decoration: none;
}

a:hover {
  background: #d7e0df;
  text-decoration: none;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #fff;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

::selection {
  background: #dadada;
}

img {
  padding: 10px 0 0 10px;
}

.laptop {
  width: 397px;
  height: 222px;
}

.phone {
  width: 292px;
  height: 631px;
}
