@font-face {
  src: url(resources/pando.ttf);
  font-family: pando;
}

body {
  background: #fff;
  font-family: Helvetica-neue, Helvetica, sans-serif;
  margin: auto;
  max-width: 75em;
  margin: auto;
}

p {
  line-height: 1.3em;
  margin: 12px 0;
  padding: 0px 10px 0px;
  font-size: 20px;
}

h1 {
  font-family: pando, sans-serif;
  font-size: 50px;
  padding: 0px 10px 0px;
  color: #7a918f;
}

a {
  color: #7a918f;
  text-decoration: none;
}

.link:hover {
  background: #d7e0df;
  text-decoration: none;
}

#navbar {
  overflow: hidden;
  background-color: #fff;
  font-size: 20px;
}

#navbar a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  background: #d7e0df;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

::selection {
  background: #dadada;
}

img {
  padding: 10px 0 0 10px;
  max-width: 100%;
}

/* Image widths */

.img {
  background: #fff;
}

.tall {
  width: 150px;
  height: 200px;
}

.wide {
  width: 320px;
  height: 200px;
}

.square {
  width: 200px;
  height: 200px;
}

#divider {
  padding: 0 10px 0;
  height: 7.5px;
  width: 100%;
}

.font {
  width: 570px;
  height: 200px;
}
